.modal {
    position: relative;
    top: 50vh;
    left: 50%;
    right: auto;
    bottom: auto;
    width: 75%;
    max-width: 512px;
    transform: translate(-50%, -50%);
    margin-right: -50%;
    border: 1px solid #e0e0e0d9;
    border-radius: 15px;
    background-color: #ffffff;
    padding: 6%;
}